:root {
	--black: #2d2c2a;
	--white: #ebebeb;
	--green: #7c806f;
	--brown: #a78c79;
	--stone: #c7c2bc;
	--shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	--min-text: 1rem;
	--def-text: 1.2rem;
	--large-text: 1.5rem;
	--title: 1.8rem;
}

@font-face {
	font-family: "Sofia";
	src: url(./fonts/SofiaSans-VariableFont_wght.ttf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Sofia";
}
html {
	font-size: 16px;
}

body {
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
}

.container {
	width: 100%;
	max-width: 1900px;
	padding: 0px 40px;
	margin: 0 auto;
}
ul {
	list-style-type: none;
}
a {
	color: var(--black);
	text-decoration: none;
	font-size: var(--def-text);
	border-bottom: 1px solid transparent;
	transition: 0.3s;
}
a:active {
	color: var(--black);
}
a:hover {
	border-bottom: 1px solid var(--black);
}
header {
	display: flex;
	padding: 20px 0px;
	width: 100%;
	box-shadow: var(--shadow);
}
section {
	padding: 4rem 0px;
}
button {
	background: var(--brown);
	color: var(--white);
	text-transform: uppercase;
	padding: 1.3rem;
	font-size: var(--large-text);
	border: none;
	transition: 0.3s;
	border: 2px solid transparent;
	cursor: pointer;
	font-weight: 600;
	box-shadow: var(--shadow);
}
button:hover {
	border: 2px solid var(--brown);
	background: white;
	color: var(--black);
}
button.second {
	background: white;
	color: var(--black);
	border: none;
}
button.three {
	background: var(--green);
	border: 2px solid var(--green);
	color: white;
}
button.three:hover {
	border: none;
	background: white;
	border: 2px solid var(--green);
	color: var(--green);
}
button.second:hover {
	background: var(--black);
	color: white;
}
input {
	border: none;
	outline: none;
	padding: 0.5rem;
	border-radius: 0.2rem;
	font-size: var(--def-text);
	transition: 0.3s;
}
input:focus {
	box-shadow: var(--shadow);
}
img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
header .container {
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
}
.logo {
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 3px;
	color: var(--brown);
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1rem;
	align-items: center;
	height: 100%;
}
a.header__link-icon {
	display: flex;
	border-bottom: none;
	border-radius: 100%;
	padding: 10px;
	border: 2px solid var(--brown);
	width: 20px;
	height: 20px;
}
a.header__link-icon:hover {
	background-color: var(--brown);
	border-bottom: none;
	border: 2px solid var(--brown);
}
.header__nav-item {
	font-size: var(--def-text);
	color: var(--brown);
}
.slider-sec {
}

.slider {
	display: flex;
	gap: 2rem;
}
.slider__info {
	width: 50%;
	padding-top: 5rem;
}
.slider__info h2 {
	font-size: 3rem;
	margin-bottom: 1.5rem;
}
.slider__info-dop-item:first-child {
	border-right: 2px solid var(--black);
	padding-right: 1rem;
}
.slider__info-dop-item:last-child {
	padding-left: 1rem;
}
.slider__info-dop {
	font-size: 2rem;
	display: flex;
	margin-bottom: 2rem;
}
.slider__info-desc {
	margin-bottom: 4rem;
	font-size: var(--def-text);
}
.slider__main {
	width: 50%;
}
.slider__nav {
	height: 3rem;
	display: flex;
	width: 100%;
	margin-bottom: 2rem;
	align-items: center;
	gap: 1rem;
}
.slider__nav-row {
	font-size: 2rem;
	cursor: pointer;
	color: var(--brown);
}
.slider__nav-pag {
	display: flex;
	gap: 1rem;
}
.slider__nav-pag-item.active {
	background: var(--green);
}
.slider__nav-pag-item {
	display: flex;
	background: var(--brown);
	color: white;
	align-items: center;
	justify-content: center;
	padding: 0.7rem;
	height: fit-content;
	cursor: pointer;
}
.slider__items {
	display: flex;
	gap: 3rem;
}
.slider__item {
	flex: 0 0 40%;
	box-shadow: var(--shadow);
	min-width: 15rem;
}
.main {
	transform: scale(1.05);
}
.fast-search__sec {
	background-color: var(--brown);
	box-shadow: var(--shadow);
	position: relative;
}
.fast-search__sec .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.fast-search__sec h3 {
	text-align: center;
	color: white;
	font-size: 3rem;
	margin-bottom: 0.5rem;
}
.search-box {
	width: 60%;
}
.search-box__box {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	gap: 1rem;
}
.fast-search__sec button {
	font-size: var(--def-text);
	padding: 0.5rem;
}
.search-box input {
	width: 100%;
}

.suggestions {
	display: none;
	position: absolute;
	top: 4.1rem;
	left: 0;
	right: 0;
	background: white;
	border: 1px solid #ccc;
	border-top: none;
	z-index: 10;
}

.suggestions li {
	padding: 0.5rem;
	transition: 0.3s;
	cursor: pointer;
}

.suggestions li:hover {
	background: var(--green);
	color: white;
}

.search-box:focus-within .suggestions {
	display: block;
}
.facts__sec {
	background: var(--white);
}
.facts__sec h2 {
	font-size: 2.5rem;
	color: white;
	width: fit-content;
	padding: 1rem;
	margin: auto;
	border-bottom: 4px solid var(--green);
	color: var(--green);
}

.facts__wrapp {
	margin: 5rem auto;
	display: flex;
	gap: 3rem;
	justify-content: space-between;
}
.fact {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--brown);
	color: white;
	border-radius: 0.2rem;
	padding: 5rem;
	box-shadow: var(--shadow);
	font-size: var(--large-text);
	text-align: center;
}
.fact.one {
}
.fact.two {
	background-color: var(--green);
}
.fact.three {
	color: white;
	background: var(--black);
}

.cards__sec {
	background: var(--green);
}
.cards__sec h2 {
	text-align: center;
	color: var(--black);
	font-size: 3rem;
	margin-bottom: 1.5rem;
}
.cards {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	gap: 2rem;
	max-width: 1600px;
	margin: 0 auto;
}
.card {
	flex: 1 1 calc(25% - 2rem);
	max-width: calc(25% - 2rem);
	box-shadow: var(--shadow);
	padding: 3px;
	border-radius: 0.5rem;
	background: var(--black);
	min-width: 300px;
}
.card__img-wrapp {
	width: 100%;
	aspect-ratio: 1/1;
}
.card__img-wrapp a {
	border: none;
}
.card__img {
	border-radius: 0.5rem 0.5rem 0px 0px;
}
.card__info {
	border-radius: 0px 0px 0.5rem 0.5rem;
	background: var(--brown);
	padding: 1rem;
	color: var(--black);
}
.card__city {
	font-size: var(--large-text);
	margin-bottom: 0.5rem;
}
.card__contact {
	font-size: var(--def-text);
}
.card__price {
	font-size: var(--def-text);
	text-align: right;
	font-weight: 600;
}
.search__sec .container {
	display: flex;
	justify-content: center;
	gap: 2rem;
	flex-wrap: wrap;
}
.search-form {
	flex-shrink: 1;
	border-radius: 0.4rem;
	display: flex;
	width: 60%;
	min-width: 655px;
	max-width: 700px;
	box-shadow: var(--shadow);
	height: 500px;
}
.search-form img {
	width: 50%;
	border-radius: 0.4rem 0px 0px 0.4rem;
}
.search-field {
	width: 100%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.sub-field #sub__personal {
	margin-right: 0.3rem;
}
.search-field h4 {
	font-size: 2.5rem;
}
.search-input {
	width: 100%;
}

.search-button {
	margin-top: auto;
}

/*  */
.sub-form {
	flex-shrink: 1;
	flex-grow: 1;
	border-radius: 0.4rem;
	display: flex;
	width: 30%;
	max-width: 600px;
	min-width: 400px;
	box-shadow: var(--shadow);
	height: 400px;
}
.sub-form img {
	width: 50%;
	border-radius: 0.4rem 0px 0px 0.4rem;
}
.sub-field {
	width: 100%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.sub-field h4 {
	font-size: 2.5rem;
}
.sub-input {
	width: 100%;
}

.sub-button {
	margin-top: auto;
}

footer {
	width: 100%;
	background: var(--green);
	padding: 3rem 0px;
}

footer .container {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
}
.footer__nav {
	display: flex;
	gap: 1rem;
	height: fit-content;
}
.footer__contact {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
footer p {
	font-size: var(--def-text);
	color: white;
}
footer span {
	font-weight: 600;
	margin-right: 0.4rem;
	font-size: calc(var(--def-text) + 0.2rem);
}
footer a {
	color: white;
}
footer a:hover {
	border-color: white;
}
footer a:active {
	color: white;
}

.login {
	box-shadow: var(--shadow);
	position: absolute;
	transform: translate(50%, -50%);
	top: 50%;
	right: 50%;
	border: 2px solid var(--green);
	border-radius: 1rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.login h2 {
	margin-bottom: 1rem;
	text-align: center;
}
.login p {
	font-size: var(--def-text);
}
.login a {
	color: var(--brown);
}
.login a:hover {
	border-color: var(--brown);
}
.login span {
	padding: 0.6rem;
	color: rgba(255, 0, 0, 0.674);
}
.login__input-wrapp {
	display: flex;
	flex-direction: column;
}

.register {
	box-shadow: var(--shadow);
	position: absolute;
	transform: translate(50%, -50%);
	top: 50%;
	right: 50%;
	border: 2px solid var(--green);
	border-radius: 1rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.register h2 {
	max-width: 400px;
	margin-bottom: 1rem;
	text-align: center;
	margin: 0 auto;
}
.register p {
	font-size: var(--def-text);
}
.register a {
	color: var(--brown);
}
.register a:hover {
	border-color: var(--brown);
}
.register span {
	padding: 0.6rem;
	color: rgba(255, 0, 0, 0.674);
}
.register__input-wrapp {
	display: flex;
	flex-direction: column;
}
#reg__personal {
	margin-right: 0.5rem;
}

.profile__infos-wrapp {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}
.profile__info,
.profile__stats {
	width: 40%;
	min-width: 600px;
}

.profile__h2 {
	font-size: 2rem;
	margin: 4rem 0px 0px 0px;
}

.profile,
.stats,
.bookings {
	padding: 2rem;
	border-radius: 10px;
	box-shadow: var(--shadow);
}

.profile-item {
	margin-bottom: 2rem;
	font-size: var(--large-text);
}

.profile-item span {
	font-weight: bold;
	font-size: 2rem;
}

.profile-item button {
	margin-left: 10px;
	padding: 5px 10px;
}
.profile {
	background: var(--brown);
	color: white;
}
.stats {
	background: var(--green);
	font-size: var(--large-text);
	color: white;
}
.stats__item {
	margin-bottom: 1rem;
}

.booking-group {
	margin-top: 2rem;
	padding: 1.5rem;
	border-radius: 10px;
}

.confirmed {
	background-color: #e7fce7;
	border: 2px solid #52c052;
}

.unconfirmed {
	background-color: #fffbe5;
	border: 2px dashed #ffcc00;
}

.booking {
	font-size: var(--large-text);
	background: white;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 15px;
	margin: 15px 0;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.booking img {
	width: 100%;
	max-width: 200px;
	aspect-ratio: 1/1;
	border-radius: 6px;
	margin-top: 10px;
}

.booking-actions {
	margin-top: 10px;
}

.booking-actions button {
	margin-right: 10px;
	padding: 5px 10px;
}

.add {
	max-width: 1100px;
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.add img {
	width: 100px;
	aspect-ratio: 1/1;
}

.add__box1,
.add__box2,
.add__box3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 3rem;
	border-bottom: 2px solid #2d2c2a25;
	padding: 3rem;
}

.add__input-wrapper {
	display: flex;
	flex-flow: row-reverse;
	flex: 1 1 45%;
	gap: 1rem;
	min-width: 300px;
	align-items: center;
	justify-content: start;
}
.add__input-wrapper input,
textarea {
	border-radius: 0.5rem 0.5rem 0rem 0rem;
	width: 100%;
	outline: none;
	border: 2px solid var(--brown);
}
.add__input-wrapper-img {
	display: block;
}
.add__input-wrapper-img input {
	border: none;
}
.add__foto-box {
	margin-top: 1rem;
	display: flex;
	gap: 1rem;
}
.add__personal {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: var(--large-text);
}

.search__page-form {
	flex-shrink: 1;
	border-radius: 0.4rem;
	display: flex;
	width: 100%;
	height: 500px;
}
.search__page-form img {
	width: 50%;
	border-radius: 0.4rem 0px 0px 0.4rem;
}
.search__page-field {
	width: 100%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.sub-field #sub__personal {
	margin-right: 0.3rem;
}
.search__page-field h4 {
	font-size: 2.5rem;
}
.search__page-input {
	width: 100%;
	border-radius: 0.5rem 0.5rem 0rem 0rem;
	border-bottom: 2px solid var(--green);
}

.search__page-button {
	font-size: var(--def-text);
}
.search__page-res .card {
	background: white;
	flex: 1 1 calc(40% - 2rem);
	max-width: calc(40% - 2rem);
}
.search__page-res .card__img-wrapp {
	aspect-ratio: 1.3/1;
}
.search__page-res .card__info {
	background: var(--green);
	color: rgba(255, 255, 255, 0.799);
}
.search__page-res .card p {
	margin-bottom: 1rem;
	font-weight: 600;
}
.search__page-res .card span {
	font-weight: 700;
}
.search__page-res p.card__price {
	font-weight: 700;
}
.search-page__pag {
	height: 3rem;
	display: flex;
	width: 100%;
	margin-bottom: 2rem;
	align-items: center;
	gap: 1rem;
	justify-content: center;
	margin-top: 4rem;
}
.search-page-row {
	font-size: 2rem;
	cursor: pointer;
	color: var(--brown);
}
.search-page-pag {
	display: flex;
	gap: 1rem;
}
.search-page-pag-item.active {
	background: var(--green);
}
.search-page-pag-item {
	display: flex;
	background: var(--brown);
	color: white;
	align-items: center;
	justify-content: center;
	padding: 0.7rem;
	height: fit-content;
	cursor: pointer;
}
.search__page-filters {
	padding: 1.5rem 2rem;
	border-radius: 0 0 0.4rem;
	box-shadow: var(--shadow);
	margin-bottom: 4rem;
	border-top: 5px solid var(--black);
	padding-top: 2rem;
}
.search__page-filters h2 {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1rem;
	color: black;
}
.filter-bar {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}

.filter-button {
	padding: 8px 14px;

	font-size: var(--def-text);
}

.filter-button:hover {
	background-color: #e0e0e0;
}
.hotel-card {
	max-width: 1500px;
	margin: auto;
	background: white;
	border-radius: 12px;
	overflow: hidden;
}

.hotel-photos {
	display: flex;
	overflow: hidden;
	gap: 1rem;
	max-height: 800px;
}

.hotel-photos img {
	box-shadow: var(--shadow);
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}
.hotel__photos-dop {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 30%;
}
.hotel__photos-main {
	width: 70%;
}
.hotel-content {
	padding: 20px;
}

.hotel-title {
	font-size: 3rem;
	margin-bottom: 10px;
	color: #333;
}

.hotel-type {
	font-size: 1.6rem;
	color: #777;
	margin-bottom: 1.5rem;
}

.contact-info {
	margin-bottom: 2rem;
}

.contact-info p {
	font-size: 1.6rem;
	margin: 4px 0;
}

.hotel-description {
	margin-bottom: 2rem;
	line-height: 1.5;
	color: #444;
	font-size: 1.6rem;
}

.hotel-details {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	font-size: 1.6rem;
}

.hotel-details div {
	background: #f9f9f9;
	padding: 10px 15px;
	border-radius: 8px;
}

.stars {
	color: gold;
}
